!!!
%html.no-js{ lang: 'de' }
  %head
    %meta{ charset: 'utf-8' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }/
    %title= data.page.title ||'Lina Kreibich - Psychotherapie Starnberg'
    %link{ rel: 'canonical', href: (canonical_host + data.page.canonical_path) }
    %meta{ name: 'description', content: data.page.meta || 'Dipl.-Psych. Anne-Karolina Kreibich Praxis für Psychotherapie für Erwachsene, Kinder und Jugendliche Psychologische Psychotherapeutin' }
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'modernizr'
    %link{ href: '//fonts.googleapis.com/css?family=Roboto+Condensed:400,700', rel: 'stylesheet', type: 'text/css' }/
    %link{ href: '//fonts.googleapis.com/css?family=Roboto:400,300,700', rel: 'stylesheet', type: 'text/css' }/
    %link{ href: image_path('favicon.png'), rel: 'shortcut icon' }/
  %body{ class: page_classes }
    = partial 'header'
    = yield
    = partial 'footer'
    = partial 'tracking'
    = javascript_include_tag 'application'
