!!!
%html.no-js{ lang: 'de' }
  %head
    %meta{ charset: 'utf-8' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }/
    %title= data.page.title || 'Lina Kreibich - Psychotherapie Starnberg'
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'modernizr'
  %body{ class: page_classes }
    = yield
    = partial 'footer'
    = javascript_include_tag 'application'
