= yield_content :header_image

.contain-to-grid
  %nav.top-bar{"data-topbar" => "", :role => "navigation"}
    %ul.title-area
      %li.name
        %h1
          %a{:href => "#"}
      / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
      %li.toggle-topbar.menu-icon
        %a{:href => "#"}
          %span

    %section.top-bar-section
      %ul.right
        %li.active
          = link_to 'START', 'index.html', relative: true
        %li.active
          = link_to 'ÜBER MICH', 'ueber-mich.html', relative: true
        %li.active
          = link_to 'BEHANDLUNGSANGEBOT', 'behandlungsangebot.html', relative: true
        %li.active
          = link_to 'KONTAKT', 'kontakt.html', relative: true
