.contain-to-grid.fixed
  %nav.top-bar{"data-options" => "sticky_on: large", "data-topbar" => "", :role => "navigation"}
    %ul.title-area
      %li.name
        = link_to File.open("source/images/logo.svg", "rb").read, 'index.html'
      %li.toggle-topbar.menu-icon
        %a{:href => "#"}
          %span Menu
    %section.top-bar-section
      %ul.right
        %li.active
          = link_to 'START', 'index.html'
        %li.active
          = link_to 'ÜBER MICH', 'about.html'
        %li.active
          = link_to 'BEHANDLUNGSMETHODEN', 'treatment.html'
        %li.active
          = link_to 'KONTAKT', 'contact.html'
