= yield_content :header_image

.contain-to-grid
  %nav.top-bar{"data-topbar" => "", :role => "navigation"}
    %ul.title-area
      %li.name
      %li.toggle-topbar.menu-icon
        %a{:href => "#"}
          %span

    %section.top-bar-section
      %ul.right
        %li.active
          = link_to 'START', 'index.html', relative: true
        %li.active
          = link_to 'ÜBER MICH', 'ueber-mich.html', relative: true
        %li.has-dropdown
          %a{:href => "#"} BEHANDLUNGSANGEBOT
          %ul.dropdown
            %li
              = link_to 'ERWACHSENE', 'behandlungsangebot-erwachsene.html', relative: true
            %li
              = link_to 'KINDER UND JUGENDLICHE', 'behandlungsangebot-kinder-und-jugendliche.html', relative: true
        %li.active
          = link_to 'KONTAKT', 'kontakt.html', relative: true
