- current_path = current_page.path

%nav.top-bar{'data-topbar' => '', role: 'navigation'}
  %ul.title-area
    %li.name
    %li.toggle-topbar.menu-icon
      %a{href: '#'}
        %span Menü

  %section.top-bar-section
    %ul.right
      = navigation_entry 'Start', 'index.html', current_path
      = navigation_entry 'Über mich', 'ueber-mich.html', current_path
      %li.has-dropdown{ class: behandlungs_class(current_path, ['behandlungsangebot-erwachsene.html', 'behandlungsangebot-kinder-und-jugendliche.html']) }
        %a{href: '#', data: {options: 'is_hover: true'}}
          Behandlungsangebot
        %ul.dropdown
          %li
            = link_to 'Erwachsene', 'behandlungsangebot-erwachsene.html'
          %li
            = link_to 'Kinder und Jugendliche', 'behandlungsangebot-kinder-und-jugendliche.html'
      = navigation_entry 'Kontakt', 'kontakt.html', current_path
